body {
    background-color: #e6e6e6;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.subContainer {
    width: 60%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

.btn {
    margin: 0px 1px;
    padding: 6px 9px;
}

.btn-success {
    width: 100px;
}

.btn-close {
    font-size: 8px;
    float: right;
    color: #eeeeeead;
    margin-top: 6px;
}

@media(max-width: 600px) {
    .subContainer {
        width: 70%;
    }

    .completed {
        display: inline-block;
        margin: 5px 0px;
    }
}

@media(max-width: 392px) {
    h1 {
        text-align: center;
    }

    .subContainer {
        width: 80%;
    }

    .btn {
        display: inline-block;
        margin: 5px 5px;
        width: 100px;
    }

    .btn-success {
        width: 120px;
    }

    .buttonsDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .btn-close {
        margin-top: 7px;
    }
}

@media(max-width:350px) {
    .btn {
        width: 130px;
    }
}